.Total {
    display:flex;
    color: rgb(95, 94, 94);
    justify-content: space-around;
    font-size: small;
    padding: 2vw;
}
.Box_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 10vw;
    padding: 10px;
    background-color: coral;
    box-shadow: 2px 3px 2px rgb(104, 104, 104);
    border-radius: 10px;
    gap: 10px;
}

.Static_Card{
    color: aliceblue;
    text-align: center;
    border: 2px solid rebeccapurple;
    margin: 4vw;
    padding:20px
}
.dashboard{
    width: 100%;
    overflow-y: auto;
}