.dashboard {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
    color: white;
    justify-content: space-around;
    width: 100%;
    font-size: small;
    padding: 2vw;
}
.Box_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 10vw;
    padding: 10px;
    background-color: coral;
    box-shadow: 2px 3px 2px rgb(104, 104, 104);
    border-radius: 10px;
    gap: 10px;
}
